<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Dashboard</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/static/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}" type="image/x-icon">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Template update is available now!
                    <div class="time text-primary">2 Min Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                
              </div>
              <div class="dropdown-footer text-center">
                
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="/static/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block">Hi, {{user['lastname']}} {{user['firstname']}}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="{{url_for('logout')}}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="#">WASAC</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="#">W</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>

            <li class="dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Menu</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{{url_for('wdoDashboard')}}">Dashboard</a></li>
                <li><a class="nav-link" href="#">Wait To Connect Water</a></li>
              </ul>
            </li>
          </ul>

        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Requests</h1>
          </div>

          <div class="section-body">
            <h2 class="section-title">List</h2>
            <p class="section-lead">
              
            </p>

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>List Of Requests</h4>
                    <div class="card-header-action">
                      <form>
                        <div class="input-group">
                          
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped" id="sortable-table">
                        <thead>
                          <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>More</th>
                            <th>Check Payment</th>
                            <th>BOQ</th>
                            <th>Approve</th>
                          </tr>
                        </thead>
                        <tbody class="ui-sortable">
                            {%for i in cco_reqs%}
                            {%set cntr=loop %}
                          <tr>
                            <td>{{i['customer']['firstname']}}</td>
                            <td>{{i['customer']['lastname']}}</td>
                            <td>{{i['customer']['email']}}</td>
                            <td>{{i['customer']['phone']}} </td>
                            <td><div  class="badge badge-primary" onclick="todisplayfun('{{cntr.index}}')">Other Details</div></td>
                            <td><a href="{{url_for('file_download',dwld=i['payment'])}}"><div  class="badge badge-primary">Payment</div></a></td>
                            <td> <a href="{{url_for('file_download',dwld=i['boq_doc'])}}"> <div  class="badge badge-primary">BoQ</div> </a></td>
                            <td><a href="{{url_for('update_to_success',data=i['_id'])}}"><div  class="badge badge-success" >Approve</div></a></td>

                            <div class="swal-overlay swal-overlay--show-modal" tabindex="-1" style="display: none;" id="cardtoshow{{cntr.index}}">
                                <div class="swal-modal" role="dialog" aria-modal="true">
                                    
                                <div class="swal-title" >
        
                                    <div class="form-group">
                                        <label>Natinal Id or Passport</label>
                                        <input type="text" class="form-control" value="{{i['nid']}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Plot Number</label>
                                        <input type="text" class="form-control" value="{{i['plotn']}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Water Usage</label>
                                        <input type="text"class="form-control" value="{{i['water_usage']}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>District</label>
                                        <input type="text"class="form-control" value="{{i['district']}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Sector</label>
                                        <input type="text" class="form-control" value="{{i['sector']}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Cell</label>
                                        <input type="text"class="form-control" value="{{i['cell']}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Village</label>
                                        <input type="text" class="form-control" value="{{i['village']}}" readonly>
                                    </div>
                                </div><div class="swal-footer"><div class="swal-button-container">
                              
                                  <button class="swal-button swal-button--confirm" onclick="tohidefun('{{cntr.index}}')">Close</button>
                              
                                  <div class="swal-button__loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                  </div>
                              
                                </div></div></div></div>

                          </tr>
                        {%endfor%}
                        </tbody>
                      </table>

                      
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          WASAC &copy; 2023
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/static/assets/modules/jquery.min.js"></script>
  <script src="/static/assets/modules/popper.js"></script>
  <script src="/static/assets/modules/tooltip.js"></script>
  <script src="/static/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/static/assets/modules/moment.min.js"></script>
  <script src="/static/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <script src="/static/assets/modules/sweetalert/sweetalert.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/static/assets/js/page/modules-sweetalert.js"></script>
  <!-- Template JS File -->
  <script src="/static/assets/js/scripts.js"></script>
  <script src="/static/assets/js/custom.js"></script>
  <script src="/static/requestwater.js"></script>
  <script src="/static/cco.js"></script>
</body>
</html>