<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Dashboard</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/static/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/modules/fontawesome/css/all.min.css">
  <link rel="icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}" type="image/x-icon">
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="theme-color" content="transparent">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}" type="image/x-icon">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Template update is available now!
                    <div class="time text-primary">2 Min Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                
              </div>
              <div class="dropdown-footer text-center">
                
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="/static/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block">Hi, {{user['lastname']}} {{user['firstname']}}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="{{url_for('logout')}}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="#">WASAC</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="#">W</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>

            <li class="dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Menu</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Dashboard</a></li>
                <li><a class="nav-link" href="{{url_for('waitToConnect')}}">check Paid Client</a></li>
              </ul>
            </li>
          </ul>

        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Requests</h1>
          </div>

          <div class="section-body">
            <h2 class="section-title">List</h2>
            <p class="section-lead">
              
            </p>

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>List Of Requests</h4>
                    <div class="card-header-action">
                      <form>
                        <div class="input-group">
                          <input type="text" class="form-control" id="myInput" placeholder="Search">
                          <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped" id="sortable-table">
                        <thead>
                          <tr>
                            <th>Names</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>POC</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody class="ui-sortable" id="myTable">
                            {%for i in cco_reqs%}
                          <tr>
                            <td>{{i['customer']['firstname']}} {{i['customer']['lastname']}}</td>
                            <td>{{i['customer']['email']}}</td>
                            <td>{{i['customer']['phone']}} </td>
                            <td>{{i['poc_code']}}</td>
                            {%if i['status']=='connected'%}
                            <td><a href="{{url_for('saveBOQ',data={'status':'disconnected','code':i['poc_code']} )}}"><div  class="badge badge-success" >Connected</div></a></td>
                            {%elif i['status']=='disconnected'%}
                            <td><a href="{{url_for('saveBOQ',data={'status':'connected','code':i['poc_code']})}}"><div  class="badge badge-warning" >Disconnected</div></a></td>
                            {%endif%}
                          </tr>
                        {%endfor%}
                        </tbody>
                      </table>

                      
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          WASAC &copy; 2023
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/static/assets/modules/jquery.min.js"></script>
  <script src="/static/assets/modules/popper.js"></script>
  <script src="/static/assets/modules/tooltip.js"></script>
  <script src="/static/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/static/assets/modules/moment.min.js"></script>
  <script src="/static/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <script src="/static/assets/modules/sweetalert/sweetalert.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/static/assets/js/page/modules-sweetalert.js"></script>
  <!-- Template JS File -->
  <script src="/static/assets/js/scripts.js"></script>
  <script src="/static/assets/js/custom.js"></script>
  <script src="/static/requestwater.js"></script>
  <script src="/static/cco.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>